
{% assign languages = "" | split: "" %}
  {% for guide in site.guides %}
  {% assign languages = languages | push: guide.language | uniq %}
{% endfor %}

{% for language in languages %}
<article>
  <h2>{{ language }}</h2>
  <ul class="guides">
    {% for guide in site.guides %}
      {% if guide.language == language %}
        <li class="guides__guide">
          <a href="{{ guide.url | relative_url }}" class="guides__link">
            <img src="{{ "/assets/icons/" | relative_url }}{{ guide.icon}}" class="guides__image"/>
            {{ guide.language | escape }} {{ guide.title | escape }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</article>
{% endfor %}

