<div class="color-code scroll-indicator-container"{% if page.color %} style="background-color: {{page.color}};"{% endif %}>
  <div class="scroll-indicator" id="js-scroll-indicator"></div>
</div>

<header>
  <input class="show-menu" id="show-menu" type="checkbox" />
  <label for="show-menu" class="menu">
    <span></span>
  </label>

  <nav>
    <ul>
      <li><a href="{{ "/" | relative_url}}">Home</a></li>
      <li><a href="/guides">Guides</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>

