<div class="color-code" {% if page.color %}style="border-color: {{page.color}};"{% endif %}></div>

<header>
  <input class="show-menu" id="show-menu" type="checkbox" />
  <label for="show-menu" class="menu">
    <span></span>
  </label>

  <nav>
    <ul>
      <li><a class="site-title" href="{{ "/" | relative_url}}">Home</a></li>

      {% for page in site.pages %}
        {% if page.title and page.title != "Styleguide" %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>

