<header>
  <input class="show-menu" id="show-menu" type="checkbox" />
  <label for="show-menu" class="menu-icon"></label>

  <nav>
    <ul>
      <li><a class="site-title" href="{{ "/" | relative_url}}">Home</a></li>

      {% for guide in site.guides %}
        {% if guide.title %}
        <li><a href="{{ guide.url | relative_url }}">{{ guide.title | escape }}</a></li>
        {% endif %}
      {% endfor %}

      {% for page in site.pages %}
        {% if page.title %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>

