input.choices__input {
  font-size: 16px; // to prevent iOS' automatic zoom when tapping into an input field
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
  background-image: url(icons/cross.svg);
  border-left: 1px solid $dark-color-3;
}

.choices__list--multiple .choices__item.is-highlighted,
.choices__list--multiple .choices__item {
  background-color: $bright-color-4;
  border-color: $dark-color-3;
  border-radius: 5px;
}

.choices.is-open {
  .is-active {
    position: relative;
  }
}

