.footer {
  border-top: 1px solid $dark-color-4;
  padding-top: $space-standard;
}

.footer__text {
  margin-bottom: .5rem;
}

.footer__copyright {
  font-size: .7rem;
  margin-bottom: 0;
  text-align: center;
}

