.guides {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.guides__guide {
  flex: 1 0 100%;
  list-style-type: none;
  line-height: 1.2em;
  padding: .2em 0;
}

.guides__image {
  margin-right: .5rem;
  margin-top: 2px;
  width: 24px;
}

.guides__link {
  align-items: center;
  display: flex;
  line-height: 1.3rem;
}

@media (min-width: $desktop-size) {
  .guides__guide {
    flex: 1 0 50%;
  }
}

