.guides {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.guides__guide {
  flex: 1 0 100%;
  list-style-type: none;
  line-height: 1.2em;
  padding: .2em 0;
}

.guides__image {
  margin-right: .5rem;
  margin-top: 2px;
  width: 24px;
}

.guides__link {
  align-items: center;
  display: flex;
  line-height: 1.3rem;
}

ul.latest-updates {
  padding-left: 0;

  li {
    list-style-type: none;

    span {
      display: block;
      font-size: .8em;
    }

    h2 {
      font-size: 1em;
      display: inline;
    }
  }
}

@media (min-width: $desktop-size) {
  .guides__guide {
    flex: 1 0 50%;
  }

  ul.latest-updates {
    li {
      span {
        display: inline-block;
        width: 10%;
      }
    }
  }
}

