.logo {
  display: block;
  margin: auto;
  width: 25vw;
}

.logo.right {
  float: right;
}

@media (min-width: $desktop-size) {
  .logo {
    display: block;
    margin: auto;
    width: 15vw;
  }
}

