pre.highlight,
figure.highlight {
  @include full-width;

  background-color: #EEEEE9;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: scroll;
  padding: .5em 1em;

  @media (min-width: $desktop-size) {
    @include undo-full-width;

    margin-bottom: 1.5rem;
  }

  pre {
    margin: 0;
  }
}
