$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-color: #F8F8F1;
$text-color: #222;

$bright-color-1: #A8D878;
$bright-color-2: #78C090;
$bright-color-3: #609090;
$bright-color-4: #603060;
$dark-color-1: #222;
$dark-color-2: #666;
$dark-color-3: #999;
$dark-color-4: #aaa;

$desktop-size: 801px;
$scroll-indicator-height: 5px;

$text-size-1: 1rem;
$text-size-2: 1.1rem;
$text-size-3: 1.5rem;
$text-size-4: 1.8rem;
$text-size-5: 2rem;
$text-size-6: 2.3rem;

$desktop-text-size-1: 1em;
$desktop-text-size-2: 1.2rem;
$desktop-text-size-3: 1.8rem;
$desktop-text-size-4: 2.2rem;
$desktop-text-size-5: 2.5rem;
$desktop-text-size-6: 3rem;


$space-standard: 1rem;
$space-small: 1.2rem;
$space-medium: 1.5rem;
$space-large: 2rem;

