$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$bright-color-1: #fff;
$bright-color-2: #c6f473;
$bright-color-3: #669c03;
$bright-color-4: #407865;
$dark-color-1: #222;
$dark-color-2: #666;
$dark-color-3: #999;
$dark-color-4: #e1e1e1;

$desktop-size: 801px;
