---
layout: default
---
<div>

  {{ content }}

  {% include search.html %}

  <p>Or have a look at all available guides:</p>

  {% include available-guides.html %}

  <ul class="latest-updates">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a href="{{ post.target_url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <p>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

