---
layout: default
---
<div>

  {{ content }}

  {% assign languages = "" | split: "" %}
  {% for guide in site.guides %}
    {% assign language = guide.languages | first %}
    {% assign languages = languages | push: language | uniq %}
  {% endfor %}

  <section class="available-guides">
    <h1>Available Guides</h1>

    {% for language in languages %}
      <article>
        <h2>{{ language }}</h2>
        <ul>
          {% for guide in site.guides %}
            {% if guide.languages contains language %}
              <li><a href="{{ guide.url | relative_url }}">{{ guide.title | escape }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </article>
    {% endfor %}
  </section>

  <h1>Latest Updates</h1>

  <ul class="latest-updates">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a href="{{ post.target_url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <p>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

